$sm: 390px;
$md: 576px;
$lg: 768px;
$xl: 820px;
$xxl: 1024px;
@mixin sm {
    @media (max-width: #{$sm}) {
        @content;
    }
 }

 @mixin md {
    @media (max-width: #{$md}) {
        @content;
    }
 }
 @mixin lg {
    @media (max-width: #{$lg}) {
        @content;
    }
 }
 @mixin xl {
    @media (max-width: #{$xl}) {
        @content;
    }
 }
 @mixin xxl {
    @media (max-width: #{$xxl}) {
        @content;
    }
 }
