.klient{
    padding-left: 200px;
    padding-right: 200px;
    @media (max-width: 1024px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
    &-title{
        font-size: 50px;
        padding-left: 100px;
        padding-top: 10px;
        @media (max-width: 425px){
            padding-left: 0;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
    &__container{
        padding: 100px;
        &-logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px;
            padding-top: 0;
            padding-left: 0;
            @media (max-width: 425px){
                flex-direction: column;
                padding-bottom: 20px;
            }
        }
    }
}