.mark{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #191C27;
    &-title{
        margin-top: 0;
        @media (max-width: 425px){
            font-size: 30px;
        }
    }
}